
  <ion-avatar slot="start" (click)="presentPopover($event)">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>



<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
   
      <ul style="list-style-type: none;">
        <li><a routerLink="/home/main"> Main</a></li>
        <hr>
        <li><a routerLink="/home/My-loans"> My Loans </a></li>
        <hr>
        <li>Item 3</li>
      </ul>
   
  </ng-template>
</ion-popover>
