
<app-menu></app-menu>


<ion-content>
  <div class="container" style="margin-top: 50px" *ngFor="let item of Offers">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ item.firstname }} {{ item.lastname }}</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
      <ion-button fill="clear">ِApply</ion-button>
    </ion-card>
  </div>
</ion-content>

 